html, body{
    background-color: #C69F89;
    padding: 0;
    height: 100%;
    margin: 0;
    background-image: url(https://img1.wsimg.com/isteam/ip/62687c77-91d9-46a7-bdef-d8e6e607f517/F6AE46F1-8D63-4081-84EE-319712C43D6D_1_105_c.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1023,cg:true);
}

.first_page{
    display:flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.secondary-color{
    background-color: #84894A;
}

.hamburger{
    width: 25%;
}

.title{
    width: 50%;
    text-align: center;
}

.icon{
    width: 25%;
    text-align: center;
}

.boxed{
    border: 1px solid #034C3C;
    background-color: #034C3C;
    text-align: center;
    width: 50%;
    align-items: center;
    border-radius: 2rem;
    margin-left: 25%;
    margin-top: 125%;
    box-shadow: black 2px 2px 2px;
}

.button {
    background-color: #034C3C; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2rem;
    margin-top: auto;
    margin-bottom: 4rem;
    width: 50%;
  }