html, body{
    background-color: #C69F89;
    padding: 0;
    height: 100%;
    margin: 0;
}

header{
    max-height: 12%;
    max-width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

img {
    max-height: 70%;
    max-width: 70%;
}
.bth2 {
    font-size: 0rem;
}

.first_page{
    /*background-image: url(https://s1.1zoom.me/b5050/144/Sweden_Forests_453348_1920x1080.jpg);*/
    display:flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
.second_page{
    display:flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.secondary-color{
    background-color: #84894A;
}

.hamburger{
    width: 25%;
    text-align: center;
}

.title{
    width: 50%;
    text-align: center;
}

.icon{
    width: 25%;
    text-align: center;
}

/*.boxed{
    border: 1px solid #034C3C;
    background-color: #034C3C;
    text-align: center;
    width: 50%;
    align-items: center;
    border-radius: 2rem;
    margin-left: 25%;
    margin-top: 125%;
    box-shadow: black 2px 2px 2px;
}
*/
.button {
    background-color: #034C3C; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2rem;
    margin-top: auto;
    margin-bottom: 4rem;
    width: 50%;
  }

  @media (min-width: 500px){
      body {
          background-color: #C69F89;
      }
      .button {
        width: 25%;
      }

      header {
          height: 5rem;
      }
      img {
          max-height: 15%;
          max-width: 15%;
      }
      .bth1 {
        font-size: 0rem;
      }
      .bth2 {
          font-size: 4rem;
      }

  }
  .flex-container {
    display: flex;
    background-color: var(--color-light);
}
.flex-container__item {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    max-width: 20rem;
}
.flex-container__item img {
    width: 100%;
    max-width: 100%;
}